<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Add Job Opening</h1>
      </div>
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Project Edit</li>
        </ol>
      </div> -->
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">General</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="inputName">Posting Title</label>
            <input type="text" id="inputName" class="form-control" value="" [(ngModel)]="addJobOpening.title">
          </div>
          <div class="form-group">
            <label for="inputStatus">Job Status</label>
            <!--<select class="form-control custom-select">
              <option selected="">Draft</option>
              <option>Open</option>
              <option>OnHold</option>
              <option>Filled</option>
              <option>Canceled</option>
            </select>-->
            <stl-input-typeahead [optionList]="jobstatuses" id="name" name="name" returnField="name"
                                       labelField="name" valueField="name" sortOptions="true" [label]="lang.selectOption"
                                       [(ngModel)]="addJobOpening.jobStatus">
            </stl-input-typeahead>
          </div>
          <div class="form-group">
            <label for="inputlead">Hiring Lead</label>
            <!--<select class="form-control custom-select">
              <option selected="">Select One</option>
              <option>Maulik Shah</option>
              <option>sanjay Madhu</option>
              <option>Pankti Joshipura</option>
              <option>Ajay Iyer</option>
            </select>-->
            <stl-input-typeahead [optionList]="hiringLeads" id="name" name="name" returnField="name"
                                       labelField="name" valueField="name" sortOptions="true" [label]="lang.selectOption"
                                       [(ngModel)]="addJobOpening.hiringLead">
            </stl-input-typeahead>
          </div>

          <div class="form-group">
            <label for="inputDept">Department</label>
            <!--<select class="form-control custom-select">
              <option selected="">Select One</option>
              <option>TU</option>
              <option>SU</option>
              <option>DU</option>
              <option>HR</option>
              <option>Admin</option>
              <option>Finance</option>
            </select>-->
            <stl-input-typeahead [optionList]="departments" id="name" name="name" returnField="name"
                                       labelField="name" valueField="name" sortOptions="true" [label]="lang.selectOption"
                                       [(ngModel)]="addJobOpening.department">
            </stl-input-typeahead>
          </div>

          <div class="form-group">
            <label for="inputEmpType">Employee Type</label>
            <!--<select class="form-control custom-select">
              <option selected="">Select One</option>
              <option>Full Time</option>
              <option>Part Time</option>
              <option>Intern</option>
              <option>Contractor</option>
            </select>-->
            <stl-input-typeahead [optionList]="employeeTypes" id="name" name="name" returnField="name"
                                       labelField="name" valueField="name" sortOptions="true" [label]="lang.selectOption"
                                       [(ngModel)]="addJobOpening.employeeType">
            </stl-input-typeahead>
          </div>
          
          <div class="form-group">
            <label for="MinExp">Minimum Experience</label>
            <input type="number" id="inputExp" class="form-control" value="" [(ngModel)]="addJobOpening.minimumExp">
          </div>
          
          <div class="form-group">
            <label for="inputDescription">Job Description</label>
            <textarea id="inputDescription" class="form-control" rows="4" [(ngModel)]="addJobOpening.jobDescription"></textarea>
          </div>
          <div class="form-group">
            <label for="inputLocation">Location</label>
            <!--<select class="form-control custom-select">
              <option selected="">Ahmedabad,India</option>
              <option>Pune,India</option>
              <option>Delhi,India</option>
              <option>London,US</option>
            </select>-->
            <stl-input-typeahead [optionList]="locations" id="name" name="name" returnField="name"
                                       labelField="name" valueField="name" sortOptions="true" [label]="lang.selectOption"
                                       [(ngModel)]="addJobOpening.location">
            </stl-input-typeahead>
          </div>
          <div class="form-group">
            <label for="inputCompo">Compensation</label>
            <input type="text" id="inputClientCompany" class="form-control" value="Deveint Inc" [(ngModel)]="addJobOpening.compensation">
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-md-6">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Skills</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div id="dynamicContainer" class="form-group">
            <table id="dataTable" width="100%">
              <thead>
                <tr>
                  
                  <th>Skill</th>
                  <th>Minimum Experience</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      
                      <td> <input type="text" id="skillset" class="form-control" value="" [(ngModel)]="jobSkill1.name"> </td>
                     <td><input type="number" id="inputExpSkill" class="form-control" value="" [(ngModel)]="jobSkill1.minimumExp"></td>
                      <td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>
                  </tr>
                  <tr>
                    
                    <td> <input type="text" id="skillset" class="form-control" value="" [(ngModel)]="jobSkill2.name"> </td>
                   <td><input type="number" id="inputExpSkill" class="form-control" value="" [(ngModel)]="jobSkill2.minimumExp"></td>
                    <td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>
                </tr>
                <tr>
                  
                  <td> <input type="text" id="skillset" class="form-control" value="" [(ngModel)]="jobSkill3.name"> </td>
                 <td><input type="number" id="inputExpSkill" class="form-control" value="" [(ngModel)]="jobSkill3.minimumExp"></td>
                  <td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>
              </tr>
              </tbody>
            </table>
          </div>
        
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Questions</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr>
                <th>Questions</th>
                <th>Is Mandatory</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>Resume</td>
                <td><ui-switch size="small" name="resume"></ui-switch></td>
              </tr>
              <tr>
                <td>Desired Salary</td>
                <td><ui-switch size="small" name="desiredSalary"></ui-switch></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success float-right" >Add Custom Questions</button>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Interview Type</h3>
  
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <table id="dataTable" width="100%">
                <thead>
                  <tr>
                    <th>Interview Type</th>
                    <th>Duration</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td> <input type="text" id="skillset" class="form-control" placeholder="Aptitude" [(ngModel)]="jobSkill1.name"> </td>

                        <td><input type="number" id="inputExpSkill" class="form-control" value=""></td>
                        <td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>
                    </tr>
                    <tr>
                        
                        <td> <input type="text" id="skillset" class="form-control" placeholder="Video" [(ngModel)]="jobSkill1.name"> </td>

                        <td><input type="number" id="inputExpSkill" class="form-control" value=""></td>
                        <td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>
                    </tr>
                </tbody>
              </table>
            </div>
           
          </div>
          <!-- /.card-body -->
        </div>

      <!-- /.card -->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="#" class="btn btn-secondary">Cancel</a>
      <button (click)="onSubmit()" type="submit" class="btn btn-success float-right" id="submit"
                >Save Changes</button>

      <!--<input type="submit" value="Save Changes" class="btn btn-success float-right" ng-click="onSubmit()"/>-->
    </div>
  </div>
</section>
<!-- /.content -->