
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>40</h3>
  
                  <p>New Openings</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>53<sup style="font-size: 20px"></sup></h3>
  
                  <p>Total Applicants</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                
              </div>
            </div>

            
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                    <h3>7<sup style="font-size: 20px">%</sup></h3>
  
                  <p>Churn Rate</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                
              </div>
            </div>
            <!-- ./col -->
          
            <!-- ./col -->
          </div>
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-4">
           
              <div class="small-box bg-dark">
                  <div class="inner">
                  <div>
                    Investment Statistics</div>
                  
                  </div>
                  
                </div>
            
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              
                <div style="display: block">
                    <canvas #myCanvas id="canvas" baseChart [chartType]="chartType" 
                    [datasets]="chartData" [labels]="chartLabels" [colors]="chartColors" 
                    [options]="chartOptions"></canvas>
                  </div>
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-4">

              <div class="small-box bg-dark">
                  <div class="inner">
                  <div>
                      Hiring Statistics</div>
                  
                  </div>
                  
                </div>
           
           <!-- TABLE: LATEST ORDERS -->
           <div class="card">
              
              <div style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="mbarChartLabels"
                          [options]="barChartOptions"
                          [colors]="barChartColors"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
            
          </div>


            
          </div>
          

          <div class="col-md-4">

          <div class="small-box bg-dark">
              <div class="inner">
              <div>
                Department Funnel Report</div>
              
              </div>
              
            </div>
       
       <!-- TABLE: LATEST ORDERS -->
       <div class="card">
          
          <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData1"
                      [labels]="mbarChartLabels1"
                      [options]="barChartOptions1"
                      [colors]="barChartColors1"
                      [legend]="barChartLegend1"
                      [chartType]="barChartType1"
                      (chartHover)="chartHovered1($event)"
                      (chartClick)="chartClicked1($event)"></canvas>
            </div>
        
      </div>


        
      </div>

        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  