<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Job Information</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">

           

          <div class="form-group">
            <label for="inputName">Posting Title</label>
            <label class="form-control" for="inputName">{{addJobOpening.title}}</label>
            
          </div>
         

          <div class="form-group">
            <label for="inputEmpType">Employee Type</label>
            <!--<select class="form-control custom-select">
              <option selected="">Select One</option>
              <option>Full Time</option>
              <option>Part Time</option>
              <option>Intern</option>
              <option>Contractor</option>
            </select>-->
            <label class="form-control" for="inputName">{{addJobOpening.employeeType}}</label>
          </div>
          
          <div class="form-group">
            <label for="MinExp">Minimum Experience(Years)</label>
            <label class="form-control" for="inputName">{{addJobOpening.minimumExp}}</label>
          </div>
          
          <div class="form-group">
            <label for="inputDescription">Job Description</label>
            <textarea id="inputDescription" class="form-control" rows="4" disabled="true">{{addJobOpening.jobDescription}}</textarea>
          </div>
          <div class="form-group">
            <label for="inputLocation">Location</label>
            <!--<select class="form-control custom-select">
              <option selected="">Ahmedabad,India</option>
              <option>Pune,India</option>
              <option>Delhi,India</option>
              <option>London,US</option>
            </select>-->
            <label class="form-control" for="inputName">{{addJobOpening.location}}</label>
          </div>

          <div class="form-group">
            <label for="inputCompo">Compensation</label>
            <label class="form-control" for="inputName">{{addJobOpening.compensation}}</label>
          </div>
         
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-md-6">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Skills</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div id="dynamicContainer" class="form-group">
            <table id="dataTable" width="100%">
              <thead>
                <tr>
                  
                  <th>Skill</th>
                  <th>Minimum Experience(Years)</th>
                  <!--<th>Remove</th>-->
                </tr>
              </thead>
              <tbody>
                  <tr>
                      
                      <td> <input type="text" id="skillset" class="form-control" value="" [(ngModel)]="jobSkill1.name" disabled="true"> </td>
                     <td><input type="number" id="inputExpSkill" class="form-control" value="" [(ngModel)]="jobSkill1.minimumExp" disabled="true"></td>
                     
                      <!--<td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>-->
                  </tr>
                  <tr>
                    
                    <td> <input type="text" id="skillset" class="form-control" value="" [(ngModel)]="jobSkill2.name" disabled="true"> </td>
                   <td><input type="number" id="inputExpSkill" class="form-control" value="" [(ngModel)]="jobSkill2.minimumExp" disabled="true"></td>
                   
                    <!--<td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>-->
                </tr>
                <tr>
                  
                  <td> <input type="text" id="skillset" class="form-control" value="" [(ngModel)]="jobSkill3.name" disabled="true"> </td>
                 <td><input type="number" id="inputExpSkill" class="form-control" value="" [(ngModel)]="jobSkill3.minimumExp" disabled="true"></td>
                 
                  <!--<td> <button type="button" class="btn btn-danger"><i class="fas fa-minus"></i></button> </td>-->
              </tr>
              </tbody>
            </table>
          </div>
        
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      


      <!-- /.card -->
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <button type="submit" class="btn btn-danger" id="submit" 
      onclick="window.history.back()">Decline</button>
      <button (click)="onSubmit()" type="submit" class="btn btn-success float-right" id="submit"
                >Approve</button>

      <!--<input type="submit" value="Save Changes" class="btn btn-success float-right" ng-click="onSubmit()"/>-->
    </div>
  </div>
</section>
<!-- /.content -->