<div class="d-sm-flex align-items-center justify-content-between mb-4 page-main-header">
    <h2 class="h3 mb-0">Candidates</h2>
  </div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
    
        <form #searchCandidateForm="ngForm">
          
          <div class="row">
            <div class="col-md-12" *ngIf="totalItems == 0">
              <div class="page-header col-sm-12 alert alert-info text-center">{{lang.searchComponent.noResults}}</div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{{lang.sr}}</th>
                  <th>Name</th>
                  <th>Job Opening</th>
                  <th>Status</th>
                  <th>Last Updated</th>
                  <th>Applied Date</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>

                <!-- <tr *ngFor="let event of eventAssociationList.slice(((pagination.currentPage-1)*pagination.itemsPerPage),pagination.currentPage*pagination.itemsPerPage); let i = index">
                  <td>{{i+1+((pagination.currentPage-1)*pagination.itemsPerPage)}}</td>
                  <td><a title="{{lang.view}}" [routerLink]="['/notification/view_event_configuration',event.channelAlias]" (click)="saveData(event.channelAlias,channelMap[event.channelAlias],eventMap[event.eventAlias])" >{{ eventMap[event.eventAlias] ?eventMap[event.eventAlias] :config.emptyString}}</a></td>
                  <td>{{channelMap[event.channelAlias] ? channelMap[event.channelAlias] :config.emptyString}}</td>
                  <td>{{event.templateRelation ?  event.templateRelation.length : config.emptyString }}</td>
                  <td><a title="{{lang.edit}}" [routerLink]="['/notification/update_event_configuration',event.channelAlias]" (click)="saveData(event.channelAlias,channelMap[event.channelAlias],eventMap[event.eventAlias])"><span class="fa fa-edit fa-2-action "></span></a></td>
                </tr> -->
                 
                <tr ngFor="let candidate of candidate">
                  <td>1</td>
                  <td><a title="{{lang.view}}" [routerLink]="" >{{candidate.name}}</a></td>
                  <td>{{candidate.jobOpening}}</td>
                  <td>{{candidate.status}}</td>
                  <td>{{candidate.creationDate}}</td>
                  <td>{{candidate.lastModifiedDate}}</td>
                  <td>{{candidate.mobile}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
