<div class="d-sm-flex align-items-center justify-content-between mb-4 page-main-header">
  <h2 class="h3 mb-0">{{ lang.notification.eventTemplateAssociation }}</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form #updateTemplate="ngForm" (ngSubmit)="onSubmit(updateTemplate.form.valid)">
          <div class="row">
           
            <div class="form-group col-md-3">
              <label class="required-label">{{lang.notification.channelAlias}}</label>

              <input class="form-control" type="text" name="channelAlias" id="channelAlias"
                [(ngModel)]="channelAlias" [disabled]="true">

            </div>
            <div class="form-group col-md-3">
              <label class="required-label">{{lang.notification.eventAlias}}</label>
              <input class="form-control" type="text" name="eventAlias" id="eventAlias" [(ngModel)]="eventAlias"
                [disabled]="true">
            </div>
          </div>

          <div class="d-sm-flex align-items-center justify-content-between mb-4 page-header">
            <h6 class="h6 mb-0">{{ lang.notification.templateConfiguration }}</h6>
          </div>

      
          <div>
            <div class="row">
              <div class="form-group col-md-3">
                <label class="required-label">{{lang.notification.configurationType}}</label>
                <select [(ngModel)]="templateRelation.type" name="configurationType" id="configurationType" class="form-control" id="configurationType"
                  (ngModelChange)="onChangeConfigType()">
                
                  <option value="">{{lang.selectOption}}</option>
                  <option value="DEFAULT" [disabled]="defaultTemplateCount != 0">{{lang.default}}</option>
                  <option value="EXPRESSION_BASED">{{lang.exprBased}}</option>
                </select>
              </div>

              <div class="form-group col-md-9">

                <label class="required-label">{{lang.notification.conditionExpr}}</label>
                <stl-expression-builder [paramList]="defaultParamNameList" [(ngModel)]="expressionInput"
                  name="conditionExpr"  id="conditionExpr" [disabled]="templateRelation.type=='DEFAULT'"
                  [required]="templateRelation.type=='EXPRESSION_BASED'"></stl-expression-builder>

              </div>
            </div>

            <div class="row">

              <div class="form-group col-md-3">
                <label class="required-label">{{lang.notification.template}}</label>
                <stl-input-typeahead [optionList]="templates" name="template" id="template" returnField="name" labelField="name"
                  valueField="name" sortOptions="true" [label]="lang.selectOption" [(ngModel)]="templateRelation.name">
                </stl-input-typeahead>


              </div>
              <div class="form-group col-md-3">
                <label class="required-label">{{lang.notification.sendTo}}</label>
                <stl-multi-select [items]="sendToList" [(ngModel)]="sendToSelected" name="sendTo" id="sendTo"
                  [allowCustomInputs]="true"></stl-multi-select>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="enableEdit">
            <div class="col-sm-10">

              <button type="button" class="btn btn-primary" (click)="addTemplate()" id="addTemplate"
                [disabled]="!(templateRelation.type && templateRelation.name  && sendToSelected && sendToSelected.length > 0)">{{lang.add}}
              </button>
              <button type="button" class="btn btn-primary" (click)="cancelTemplateAction()" id="cancelTemplateAction">{{lang.cancel}}</button>
            </div>
          </div>
          <div class="row" *ngIf="!enableEdit">
            <div class="col-sm-10">

              <button type="button" class="btn btn-primary" (click)="updateEditedTemplate()" id="updateEditedTemplate"
                [disabled]="!(templateRelation.type && templateRelation.name  && sendToSelected && sendToSelected.length > 0)">{{lang.save}}
              </button>

              <button type="button" class="btn btn-primary" (click)="cancelTemplateAction()" id="cancelTemplateAction">{{lang.cancel}}</button>
            </div>
          </div>

    
          <div class="d-sm-flex align-items-center justify-content-between mb-4 page-header">
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{{lang.sr}}</th>
                  <th>{{lang.expression}}</th>
                  <th>{{lang.notification.template}}</th>
                  <th>{{lang.priority}}</th>
                  <th>{{lang.up}}</th>
                  <th>{{lang.down}}</th>
                  <th>{{lang.edit}}</th>
                  <th>{{lang.remove}}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let templateRelation of eventConfigurationModel.templateRelation; let i = index">
                  <td>{{i+1}}</td>
                  <td>
                    {{templateRelation && templateRelation.conditionExpression ? templateRelation.conditionExpression : 'Default'}}
                  </td>
                  <td>{{templateRelation && templateRelation.name ? templateRelation.name :lang.emptyString}}</td>
                  <td>{{templateRelation && templateRelation.priority ? templateRelation.priority :lang.emptyString}}
                  </td>
                  <td>
                  
                    <button type="button" class="btn btn-link"  [disabled]="eventConfigurationModel.templateRelation.length==1 || !enableEdit " id="upArrow{{i}}"> 
                      <i class="fas fa-arrow-up"
                        (click)="upArrow(templateRelation)"></i>
                      </button>
                  
                  </td>
                  <td>
                      <button type="button" class="btn btn-link"  [disabled]="eventConfigurationModel.templateRelation.length==1 || !enableEdit " id="downArrow{{i}}"> 
                      <i class="fas fa-arrow-down"
                        (click)="downArrow(templateRelation)"></i>
                      </button>

                   </td>
                  <td>
                 
                  <button class="btn btn-link" (click)="editTemplate(templateRelation)" [disabled]="!enableEdit" id="editTemplate{{i}}" type="button"> 
                    <i class="fa fa-edit fa-2-action"></i>
                    </button>
                  </td>
                  <td>
              
                    <button class="btn btn-link" (click)="removeTemplate(templateRelation)" [disabled]="!enableEdit" id="removeTemplate{{i}}" type="button"> 
                      <i class="fa fa-minus-square"></i>
                      </button>
                  </td>

                </tr>
            </table>
          </div>

          <div class="row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" id="submit"
                [disabled]="!(updateTemplate.form.valid && eventConfigurationModel.templateRelation.length > 0 && enableEdit)">{{lang.update}}</button>
                <button class="btn btn-primary" routerLink="/notification/search_event_configuration" type="button" id="back"><i class="fa fa-arrow-left"></i> {{lang.back}}</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>