<div class="d-sm-flex align-items-center justify-content-between mb-4 page-main-header">
    <h2 class="h3 mb-0">{{ lang.notification.viewChannel }}</h2>
  </div>
  
  <!--<div class="col-md-12" *ngIf='channel'>-->
  <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="{{config.viewLabelClass}}">
                        <label class="label-header">{{lang.name}}</label>
                    </div>
                    <div class="{{config.viewValueClass}}">
                        {{channel.name ?channel.name : config.emptyString}}
                    </div>
                    <div class="{{config.viewLabelClass}}">
                        <label class="label-header">{{lang.alias}}</label>
                    </div>
                    <div class="{{config.viewValueClass}}">
                        {{channel.id ? channel.id : config.emptyString}}
                    </div>
                    <div class="{{config.viewLabelClass}}">
                        <label class="label-header">{{lang.notification.mimeType}}</label>
                    </div>
                    <div class="{{config.viewValueClass}}">
                            {{channel.mimeType ? channel.mimeType : config.emptyString}}
                    </div>
                    <div class="{{config.viewLabelClass}}">
                        <label class="label-header">{{lang.description}}</label>
                    </div>
                    <div class="col-md-10  col-sm-6 view-value">
                        {{channel.description ?channel.description : config.emptyString}}
                    </div>
                    <div class="{{config.viewLabelClass}}">
                            <label class="label-header">{{lang.notification.className}}</label>
                    </div>
                    <div class="col-md-10  col-sm-6 view-value">
                            {{channel.className ?channel.className : config.emptyString}}
                    </div> 
            </div>
        </div>
    </div>
  </div>
  <div class="row">

        <div class="col-md-12" *ngIf="searched && totalItems == 0">
          <div class="d-sm-flex align-items-center justify-content-between mb-4 page-header">
            <h6 class="h6 mb-0">{{ lang.notification.channelcharacteristics }}</h6>
          </div>
          <div class="page-header col-sm-12 alert alert-info text-center">{{lang.notification.channelcharacteristicsNoResults}}</div>
        </div>
      </div>


      <div class="col-md-12" *ngIf="searched && totalItems > 0">
        <div class="d-sm-flex align-items-center justify-content-between mb-4 page-header">
          <h6 class="h6 mb-0">{{ lang.notification.channelcharacteristics }}</h6>
        </div>
        <div class="row">
          <ng-container *ngFor="let channelData of  channel.channelAttribute; let i = index">
              <ng-container *ngIf="channelData">
                    <div class="{{config.viewLabelClass}}">
                            <label class="label-header"> {{channelData && channelData.attributeName ? channelData.attributeName: lang.emptyString}}</label>
                    </div>
                    <div class="{{config.viewValueClass}}">
                            {{channelData.attributeValue ?channelData.attributeValue : config.emptyString}}
                     </div>
              </ng-container>
          </ng-container>
        </div>
        <button class="btn btn-primary" onclick="window.history.back()" type="button" id="back"><i class="fa fa-arrow-left"></i> {{lang.back}}</button>
        <button class="btn btn-primary" type="button" id="update" [routerLink]="['/notification/update_channel']" (click)="setNavParam('channel',channel)">{{lang.update}}</button>
      </div>
