@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/Regular/OpenSans-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans/Regular/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans/Regular/OpenSans-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans/Semibold/OpenSans-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/Semibold/OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans/Semibold/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/OpenSans/Semibold/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans/Semibold/OpenSans-Semibold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

body {
    background-color: #f8f8f8;
    overflow-x: hidden;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 13px;
    color: #000;
}



  .panel-body ul.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

ul.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.typeahead-container .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.navbar .navbar-top-links li.dropdown .fa {
    margin-left: 2px;
}

.navbar .navbar-top-links li a.dropdown-toggle {
    padding: 0px 0px;
}

.dropdown-toggle i.fa.fa-caret-down {
    padding-left: 4px;
}


.navbar .dropdown-menu>li>a {
    padding: 3px 12px;
}

.dropdown-menu, .btn {
    font-size: 13px;
}

ul.ui-select-choices.dropdown-menu {
    width: auto!important;
    min-width: 100%;
}

ul.dropdown-menu.dropdown-user li {
    cursor: pointer;
}

ul.dropdown-menu.dropdown-user li {
    padding: 0 5px;
}

.ui-select-choices.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: .85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;

  }

  .pull-right { float: right;}

.wrapper { width: 90%; margin: 0 auto;}
.content-wrapper { padding: 10px 20px;}

a {
    color: #032e35;
    text-decoration: none;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.ui-select-placeholder, .ui-select-toggle i { line-height: 2;}

.small-box div.inner div {
    font-weight: bold;
    font-size: 1.1em;
}


table.table-bordered>tr>th, table.table-bordered>tbody>tr>th, table.table-bordered>thead>tr>th, .mso-report-header-background, .mso-report-footer-background {
    background-color: #337ab7;
    color: #FFF;
    }